In [1]:
import sqlite3

In [2]:
# Create engine
engine = sqlite3.connect("data.db")
# Create cursor
cursor = engine.cursor()

In [3]:
# Create Table
create_table_query = '''CREATE TABLE IF NOT EXISTS sportStars (
   firstName varchar(40), 
   surname varchar(40),
   monthBorn varchar(20),
   yearOfBirth int,
   sport varchar(30)
);'''
# Execute create table query
cursor.execute(
    create_table_query
)

In [4]:
# Create tuple to insert data
tuple_to_insert = (
    'INSERT INTO sportStars VALUES ("Usain", "Bolt", "August", 1986, "Track and field");',
    'INSERT INTO sportStars VALUES ("LeBron", "Jame", "December", 1984, "Basketball");',
    'INSERT INTO sportStars VALUES ("Cristiano", "Ronaldo", "Feburary", 1985, "Football");',
    'INSERT INTO sportStars VALUES ("Lionel", "Messi", "June", 1987, "Football");',
    'INSERT INTO sportStars VALUES ("Tiger", "Woods", "December", 1975, "Golf");',
    'INSERT INTO sportStars VALUES ("Serena", "Williams", "September", 1981, "Tennis");',
    'INSERT INTO sportStars VALUES ("Michael", "Phelps", "June", 1985, "Swimming");',
    'INSERT INTO sportStars VALUES ("Simone", "Biles", "March", 1997, "Gymnastics");',
    'INSERT INTO sportStars VALUES ("Laura", "Muir", "May", 1993, "Track and field");',
    'INSERT INTO sportStars VALUES ("Lucy", "Bronze", "October", 1991, "Football");'
)
# Use for to insert data on the database
for insert_query in tuple_to_insert :

    cursor.execute(insert_query)

#### 1 - Adicionar mais 2 registros

In [5]:
tuple_to_add_more_data = (
    'INSERT INTO sportStars VALUES ("Max", "Holloway", "August", 1986, "MMA");',
    'INSERT INTO sportStars VALUES ("Anderson", "Silva", "March", 1974, "Boxe");'
)
# Use for to insert data on the database
for insert_query in tuple_to_add_more_data :

    cursor.execute(insert_query)
# Query to view data
query_select = "SELECT * FROM sportStars"
# Execute query
cursor.execute(query_select).fetchall()

[('Usain', 'Bolt', 'August', 1986, 'Track and field'),
 ('LeBron', 'Jame', 'December', 1984, 'Basketball'),
 ('Cristiano', 'Ronaldo', 'Feburary', 1985, 'Football'),
 ('Lionel', 'Messi', 'June', 1987, 'Football'),
 ('Tiger', 'Woods', 'December', 1975, 'Golf'),
 ('Serena', 'Williams', 'September', 1981, 'Tennis'),
 ('Michael', 'Phelps', 'June', 1985, 'Swimming'),
 ('Simone', 'Biles', 'March', 1997, 'Gymnastics'),
 ('Laura', 'Muir', 'May', 1993, 'Track and field'),
 ('Lucy', 'Bronze', 'October', 1991, 'Football'),
 ('Max', 'Holloway', 'August', 1986, 'MMA'),
 ('Anderson', 'Silva', 'March', 1974, 'Boxe')]

#### 2 - Verificar todas as colunas

In [6]:
cursor.execute(f"PRAGMA table_info( sportStars)")
columns = cursor.fetchall()
columns

[(0, 'firstName', 'varchar(40)', 0, None, 0),
 (1, 'surname', 'varchar(40)', 0, None, 0),
 (2, 'monthBorn', 'varchar(20)', 0, None, 0),
 (3, 'yearOfBirth', 'INT', 0, None, 0),
 (4, 'sport', 'varchar(30)', 0, None, 0)]

#### 3 - Executar uma consulta que mostre os registros que atendam a um filtro com o operador > (maior) na tabela sportStars

In [8]:
query_major = '''
    SELECT * FROM sportStars
    WHERE yearOfBirth > 1987
'''
cursor.execute(query_major).fetchall()

[('Simone', 'Biles', 'March', 1997, 'Gymnastics'),
 ('Laura', 'Muir', 'May', 1993, 'Track and field'),
 ('Lucy', 'Bronze', 'October', 1991, 'Football')]

#### 4 - Executar uma consulta que mostre os registros que atendam a um filtro com o operador >= (maior ou igual) na tabela sportStars

In [11]:
query_major_eq = '''
    SELECT * FROM sportStars
    WHERE yearOfBirth >= 1987
'''
cursor.execute(query_major_eq).fetchall()

[('Lionel', 'Messi', 'June', 1987, 'Football'),
 ('Simone', 'Biles', 'March', 1997, 'Gymnastics'),
 ('Laura', 'Muir', 'May', 1993, 'Track and field'),
 ('Lucy', 'Bronze', 'October', 1991, 'Football')]

#### 5 - Executar uma consulta que mostre os registros que atendam a um filtro com o operador < (menor) na tabela sportStars

In [12]:
query_minor = '''
    SELECT * FROM sportStars
    WHERE yearOfBirth < 1987
'''
cursor.execute(query_minor).fetchall()

[('Usain', 'Bolt', 'August', 1986, 'Track and field'),
 ('LeBron', 'Jame', 'December', 1984, 'Basketball'),
 ('Cristiano', 'Ronaldo', 'Feburary', 1985, 'Football'),
 ('Tiger', 'Woods', 'December', 1975, 'Golf'),
 ('Serena', 'Williams', 'September', 1981, 'Tennis'),
 ('Michael', 'Phelps', 'June', 1985, 'Swimming'),
 ('Max', 'Holloway', 'August', 1986, 'MMA'),
 ('Anderson', 'Silva', 'March', 1974, 'Boxe')]

#### 6 - Executar uma consulta que mostre os registros que atendam a um filtro com o operador <= (menor ou igual) na tabela sportStars

In [16]:
query_minor_eq = '''
    SELECT * FROM sportStars
    WHERE yearOfBirth <= 1975
'''
cursor.execute(query_minor_eq).fetchall()

[('Tiger', 'Woods', 'December', 1975, 'Golf'),
 ('Anderson', 'Silva', 'March', 1974, 'Boxe')]

#### 7 - Executar uma consulta que mostre os registros que atendam a um filtro com o operador = (igual) na tabela sportStars

In [21]:
query_equal = '''
    SELECT * FROM sportStars
    WHERE sport = 'Track and field'
'''
cursor.execute(query_equal).fetchall()

[('Usain', 'Bolt', 'August', 1986, 'Track and field'),
 ('Laura', 'Muir', 'May', 1993, 'Track and field')]

#### 8 - Executar uma consulta que mostre os registros que atendam a um filtro com o operador != (diferente) na tabela sportStars

In [22]:
query_diff = '''
    SELECT * FROM sportStars
    WHERE sport != 'Golf'
'''
cursor.execute(query_diff).fetchall()

[('Usain', 'Bolt', 'August', 1986, 'Track and field'),
 ('LeBron', 'Jame', 'December', 1984, 'Basketball'),
 ('Cristiano', 'Ronaldo', 'Feburary', 1985, 'Football'),
 ('Lionel', 'Messi', 'June', 1987, 'Football'),
 ('Serena', 'Williams', 'September', 1981, 'Tennis'),
 ('Michael', 'Phelps', 'June', 1985, 'Swimming'),
 ('Simone', 'Biles', 'March', 1997, 'Gymnastics'),
 ('Laura', 'Muir', 'May', 1993, 'Track and field'),
 ('Lucy', 'Bronze', 'October', 1991, 'Football'),
 ('Max', 'Holloway', 'August', 1986, 'MMA'),
 ('Anderson', 'Silva', 'March', 1974, 'Boxe')]

#### 9 - Executar uma consulta que mostre os registros que atendam a um filtro com o operador AND na tabela sportStars

In [26]:
query_and = '''
    SELECT * FROM sportStars
    WHERE monthBorn = 'August' AND yearOfBirth >= 1985
'''
cursor.execute(query_and).fetchall()

[('Usain', 'Bolt', 'August', 1986, 'Track and field'),
 ('Max', 'Holloway', 'August', 1986, 'MMA')]

#### 10 - Executar uma consulta que mostre os registros que atendam a um filtro com o operador OR na tabela sportStars

In [27]:
query_or = '''
    SELECT * FROM sportStars
    WHERE monthBorn = 'January' OR yearOfBirth >= 1985
'''
cursor.execute(query_or).fetchall()

[('Usain', 'Bolt', 'August', 1986, 'Track and field'),
 ('Cristiano', 'Ronaldo', 'Feburary', 1985, 'Football'),
 ('Lionel', 'Messi', 'June', 1987, 'Football'),
 ('Michael', 'Phelps', 'June', 1985, 'Swimming'),
 ('Simone', 'Biles', 'March', 1997, 'Gymnastics'),
 ('Laura', 'Muir', 'May', 1993, 'Track and field'),
 ('Lucy', 'Bronze', 'October', 1991, 'Football'),
 ('Max', 'Holloway', 'August', 1986, 'MMA')]

#### 11 - Executar uma consulta que mostre os registros que atendam a um filtro com o operador IN na tabela sportStars

In [30]:
query_in = '''
    SELECT * FROM sportStars
    WHERE monthBorn IN ('March', 'August')'''
cursor.execute(query_in).fetchall()

[('Usain', 'Bolt', 'August', 1986, 'Track and field'),
 ('Simone', 'Biles', 'March', 1997, 'Gymnastics'),
 ('Max', 'Holloway', 'August', 1986, 'MMA'),
 ('Anderson', 'Silva', 'March', 1974, 'Boxe')]

#### 12 - Executar uma consulta que mostre os registros que atendam a um filtro com NOT IN na tabela sportStars

In [31]:
query_not_in = '''
    SELECT * FROM sportStars
    WHERE monthBorn NOT IN ('March', 'August')'''
cursor.execute(query_not_in).fetchall()

[('LeBron', 'Jame', 'December', 1984, 'Basketball'),
 ('Cristiano', 'Ronaldo', 'Feburary', 1985, 'Football'),
 ('Lionel', 'Messi', 'June', 1987, 'Football'),
 ('Tiger', 'Woods', 'December', 1975, 'Golf'),
 ('Serena', 'Williams', 'September', 1981, 'Tennis'),
 ('Michael', 'Phelps', 'June', 1985, 'Swimming'),
 ('Laura', 'Muir', 'May', 1993, 'Track and field'),
 ('Lucy', 'Bronze', 'October', 1991, 'Football')]

#### 13 - Executar uma consulta que mostre os registros que atendam a um filtro com o BETWEEN na tabela sportStars

In [35]:
query_btw = '''
    SELECT * FROM sportStars
    WHERE yearOfBirth BETWEEN 1975 AND 1986'''
cursor.execute(query_btw).fetchall()

[('Usain', 'Bolt', 'August', 1986, 'Track and field'),
 ('LeBron', 'Jame', 'December', 1984, 'Basketball'),
 ('Cristiano', 'Ronaldo', 'Feburary', 1985, 'Football'),
 ('Tiger', 'Woods', 'December', 1975, 'Golf'),
 ('Serena', 'Williams', 'September', 1981, 'Tennis'),
 ('Michael', 'Phelps', 'June', 1985, 'Swimming'),
 ('Max', 'Holloway', 'August', 1986, 'MMA')]

#### 14 - Executar uma consulta que mostre os registros que atendam a um filtro com o BETWEEN na tabela sportStars

In [37]:
query_btw = '''
    SELECT * FROM sportStars
    WHERE yearOfBirth NOT BETWEEN 1975 AND 1986'''
cursor.execute(query_btw).fetchall()

[('Lionel', 'Messi', 'June', 1987, 'Football'),
 ('Simone', 'Biles', 'March', 1997, 'Gymnastics'),
 ('Laura', 'Muir', 'May', 1993, 'Track and field'),
 ('Lucy', 'Bronze', 'October', 1991, 'Football'),
 ('Anderson', 'Silva', 'March', 1974, 'Boxe')]