In [1]:
import sqlite3

In [2]:
# Create engine
engine = sqlite3.connect("data.db")
# Create cursor
cursor = engine.cursor()

In [3]:
# Create Table
create_table_query = '''CREATE TABLE IF NOT EXISTS sportStars (
   firstName varchar(40), 
   surname varchar(40),
   monthBorn varchar(20),
   yearOfBirth int,
   sport varchar(30)
);'''
# Execute create table query
cursor.execute(
    create_table_query
)

In [4]:
# Create tuple to insert data
tuple_to_insert = (
    'INSERT INTO sportStars VALUES ("Usain", "Bolt", "August", 1986, "Track and field");',
    'INSERT INTO sportStars VALUES ("LeBron", "Jame", "December", 1984, "Basketball");',
    'INSERT INTO sportStars VALUES ("Cristiano", "Ronaldo", "Feburary", 1985, "Football");',
    'INSERT INTO sportStars VALUES ("Lionel", "Messi", "June", 1987, "Football");',
    'INSERT INTO sportStars VALUES ("Tiger", "Woods", "December", 1975, "Golf");',
    'INSERT INTO sportStars VALUES ("Serena", "Williams", "September", 1981, "Tennis");',
    'INSERT INTO sportStars VALUES ("Michael", "Phelps", "June", 1985, "Swimming");',
    'INSERT INTO sportStars VALUES ("Simone", "Biles", "March", 1997, "Gymnastics");',
    'INSERT INTO sportStars VALUES ("Laura", "Muir", "May", 1993, "Track and field");',
    'INSERT INTO sportStars VALUES ("Lucy", "Bronze", "October", 1991, "Football");'
)
# Use for to insert data on the database
for insert_query in tuple_to_insert :

    cursor.execute(insert_query)

-- Adicionar mais 2 registros

In [5]:
tuple_to_add_more_data = (
    'INSERT INTO sportStars VALUES ("Max", "Holloway", "August", 1986, "MMA");',
    'INSERT INTO sportStars VALUES ("Anderson", "Silva", "March", 1974, "Boxe");'
)
# Use for to insert data on the database
for insert_query in tuple_to_add_more_data :

    cursor.execute(insert_query)

In [6]:
# Query to view data
query_select = "SELECT * FROM sportStars"
# Execute query
cursor.execute(query_select).fetchall()

[('Usain', 'Bolt', 'August', 1986, 'Track and field'),
 ('LeBron', 'Jame', 'December', 1984, 'Basketball'),
 ('Cristiano', 'Ronaldo', 'Feburary', 1985, 'Football'),
 ('Lionel', 'Messi', 'June', 1987, 'Football'),
 ('Tiger', 'Woods', 'December', 1975, 'Golf'),
 ('Serena', 'Williams', 'September', 1981, 'Tennis'),
 ('Michael', 'Phelps', 'June', 1985, 'Swimming'),
 ('Simone', 'Biles', 'March', 1997, 'Gymnastics'),
 ('Laura', 'Muir', 'May', 1993, 'Track and field'),
 ('Lucy', 'Bronze', 'October', 1991, 'Football'),
 ('Max', 'Holloway', 'August', 1986, 'MMA'),
 ('Anderson', 'Silva', 'March', 1974, 'Boxe')]